---
layout: page
title: Airspace
permalink: /
---

<!-- Imagem principal -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h2 class="animated fadeInUp">Dançar<br>Liberta </h2>
          <!-- <p class="animated fadeInUp">We love the Web and the work we do. We work closely with our clients to deliver the best possible solutions for their needs</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sobre o programa -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Ouse Dançar</h2>
            <p>Transforme sua vida aprendendo a seduzir a pessoa mais importante nesse mundo, você!</p>
          </div>
          <p>Já esperimentou dançar para você? </p>
          <p>
            O Dare Dance desafia você a se ver com outros olhos,
            a ligar o som e dançar na frente do espelho sem nenhuma preocupação,
            sem cobranças, sem preconceitos apenas sentindo a vibe. </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- Chamada para ação  -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>Se inscreva no canal do Youtube
            <a class="btn btn-default btn-call-to-action" href="#" >INSCREVER-SE</a>
          </h2>
      </div>
    </div>
  </div>
</section>

<!-- Sobre a Luciene Felix -->
<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>Conheça a Luciene</h2>
        <p>Luciene Felix é uma engenheira de software que se apaixonou perdidamente pela dança.
          A dança surgiu em sua vida como uma forma de liberdade de expressão e busca de propósito.</p>
        <p>Trilhando os primeiros passos no caminho da dança compartilha seus aprendizados nas suas redes sociais.</p>
        <p>Acredita que a dança tem a força necessária para mudar a vida das pessoas ajudando no resgate da autoestima e empoderamento.</p>
        <!-- <a href="#" class="btn btn-view-works">View Works</a> -->
      </div>
    </div>
  </div>
</section>

<!-- Beneficios da dança -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Para quem é este projeto? </h2>
        <!--
         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
         -->
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-person-add" style="color:#7f2072"></i>

          <h4>Iniciantes</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-settings"></i>
          <h4>Enferrujados</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-filing" ></i>
          <h4>Nova Modalidade</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-clipboard"></i>
          <h4>Técnica</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-globe"></i>
          <h4>Liberdade</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-md-bulb"></i>
          <h4>Empoderamento</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-happy 1"></i>
          <h4>Autoestima</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-md-glasses"></i>
          <h4>Sensualidade</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Redes sociais -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>Nossas redes sociais</h2>
          <!-- <a class="btn btn-default btn-call-to-action" href="#" >INSCREVER-SE</a> -->
          <ul class="socialIcons">
             <li class="facebook"><a href="https://www.facebook.com/lucienedanca/" target="_blank"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
             <li class="instagram"><a href="https://www.instagram.com/daredance_/" target="_blank"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
             <li class="youtube"><a href="https://www.youtube.com/channel/UClCVa9g28LnyepUJn4UteQA?sub_confirmation=1" target="_blank"><i class="fa fa-fw fa-youtube"></i>Youtube</a></li>
          </ul>
      </div>
    </div>
  </div>
</section>

<!-- Depoimentos
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->
